edu{
    display: flex;
     flex-direction:row; /*DIRECCIÓN POR DEFECTO*/
     justify-content:space-around;
     align-items: center;
}



edu img{
    width: 25em;
    height:15em;
    font-weight: 300;
    max-height: 100em;
    padding: 2em;
}


address{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(218, 199, 151);
    
}

